<footer>
    <div class="f-info">
        <div class="f-info-brand">&copy;2025 Roamnest, Inc.</div>

        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
            <a href="/sitemap">Sitemap</a>
            <a href="companyDetails">Company Details</a>
        </div>
        
        <div class="f-info-socials">
            <a><i class="fa-brands fa-facebook"></i></a>
            <a><i class="fa-brands fa-x-twitter"></i></a>
            <a><i class="fa-brands fa-instagram"></i></a>
            <a><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
</footer>